<header class="bg-blue-700 sticky top-0 z-[99] mb-5 py-4">
    <nav class="container mx-auto px-4 max-w-7xl flex justify-between">
        <a href="/">
            <h4>My Films List</h4>
        </a>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>
</header>