---
import Layout from '../layouts/Layout.astro';
---
<Layout title="My Films List - 404">
    <main class="max-w-7xl mx-auto px-4">
        <h1>404</h1>
        <h2>Page Not Found</h2>
    </main>
</Layout>