---
import Layout from '../layouts/Layout.astro';
import FilmCard from '../components/FilmCard.astro';
import listData from '../lib/list_data.json';

const films = listData.items.map((film) => ({
	id: film.id,
	title: film.title,
	backdropURL: film.backdrop_path ? `https://image.tmdb.org/t/p/w500${film.backdrop_path}` : 'https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-4ee37443c461fff5bc221b43ae018a5dae317469c8e2479a87d562537dd45fdc.svg'
}));
---

<Layout title="My Films List - Home">
	<main class="container max-w-7xl mx-auto px-4">
		<h1 class="text-4xl mb-5">Welcome to my films list</h1>
		<div class="grid gap-5 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mb-5">
			{
				films.map((film) => <FilmCard film={film} key={film.id}/>)
			}
		</div>
	</main>
</Layout>